# Upstream servers
nameserver 8.8.8.8
nameserver 8.8.4.4

# Proxy example.com to these, ordered by priority
ns .example.com 1.1.1.1
ns .example.com 1.0.0.1

# Route the .dev tld to localhost
a .dev 127.0.0.1
mx  .domain.com 10 mail.pizza.com
txt .domain.com "text entry"
txt .domain.com "includes""quotes"
